version: '3.9'
services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: claw
      POSTGRES_PASSWORD: claw
      POSTGRES_DB: clawtrello
    ports:
      - '5432:5432'
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7
    ports:
      - '6379:6379'

volumes:
  pgdata:
